body {
    background: #f4f5f7;
    color: #181717;

}

.list{

    display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;

}

.project{

    
}

